<div *ngIf="authenticationService.isLoggedIn()">
    <nav class="my-navbar navbar navbar-expand-lg navbar-dark navbar-shadow fixed-top">
        <img class="d-none d-sm-block logo" src="../../../assets/lunchswap.png" alt="logo img">
        <img class="d-block d-sm-none logo" src="../../../assets/lunchswap.png" alt="logo img small">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li [class]="getNavItemClass(0)">
                    <a (click)="setTab(0)" class="nav-link" [routerLink]="['/groups']">groups</a>
                </li>
                <li [class]="getNavItemClass(0)">
                    <a (click)="setTab(0)" class="nav-link" [routerLink]="['/explore']">explore</a>
                </li>
                <li [class]="getNavItemClass(2)">
                    <a (click)="setTab(2)" class="nav-link" [routerLink]="['/lunch-box']">lunch box</a>
                </li>
            </ul>
            <div class="mx-auto"></div>
            <ul class="navbar-nav">
                <li [class]="getNavItemClass(4)">
                    <a (click)="setTab(4)" class="nav-link" [routerLink]="['/inbox']">
                        notifications
                        <span *ngIf="unseenMessageCount > 0" class="badge badge-pill badge-warning">new</span>
                    </a>
                </li>
                <li [class]="getNavItemClass(5)">
                    <a (click)="setTab(5)" class="nav-link" [routerLink]="['/profile']">
                        profile
                    </a>
                </li>
                <li [class]="getNavItemClass(6)">
                    <a (click)="setTab(6)" class="nav-link" [routerLink]="['/help']">
                        help
                    </a>
                </li>
                <li [class]="getNavItemClass(7)">
                    <a (click)="setTab(7)" class="nav-link" [routerLink]="['/about']">
                        about
                    </a>
                </li>
                <li class="nav-item" (click)="logout()">
                    <a href="" class="nav-link">
                        logout
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>