.navbar-shadow {
    box-shadow: 2px 2px 2px 0 #818182;
}

.my-navbar {
    background-color: #333741;
}

.logo {
    position: absolute;
    height: 90px;
    left: 50%;
    margin-left: -45px;
    top: -3px;
}

.d-block.d-sm-none.logo {
    height: 50px;
    left: 95%;
    top: 4px;
}
