<div *ngIf="authenticationService.isLoggedIn()">
    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-shadow fixed-top">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li [class]="getNavItemClass(0)">
                    <a (click)="setTab(0)" class="nav-link" [routerLink]="['/dashboard']">explore</a>
                </li>
                <li [class]="getNavItemClass(2)">
                    <a (click)="setTab(2)" class="nav-link" [routerLink]="['/lunch-box']">lunch box</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li [class]="getNavItemClass(4)">
                    <a (click)="setTab(4)" class="nav-link" [routerLink]="['/inbox']">
                        notifications
                        <span *ngIf="unseenMessageCount > 0" class="badge badge-pill badge-warning">new</span>
                    </a>
                </li>
                <li [class]="getNavItemClass(5)">
                    <a (click)="setTab(5)" class="nav-link" [routerLink]="['/profile']">
                        profile
                    </a>
                </li>
                <li [class]="getNavItemClass(6)">
                    <a (click)="setTab(6)" class="nav-link" [routerLink]="['/help']">
                        help
                    </a>
                </li>
                <li class="nav-item" (click)="logout()">
                    <a href="" class="nav-link">
                        logout
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>