div.message
    img(src="../../assets/bg2.jpg" alt="Image Title")
    p Hello <b>#{recipient.name}</b> !
    p We are <u>very happy</u> that your joined your lunch box's group!
    p Today your kitchen just expanded the size of your organization. You now can share your culinary creations, or just enjoy what others have to propose!
    p If you have any question or suggestion, visit the
        a(href='/help') &nbsp help section.

    p.font-italic Sincerly yours,
    p The Lunch box team



