div.message
    img(src="../../assets/bg5.jpg" alt="Image Title")
    p #{thread[0]}
    ul
        each val, index in thread
            if index == 0
            else
                li.text-muted this is a reply to: #{val}
