div.message
    img(src="../../assets/bg5.jpg" alt="Image Title")
    p.test.font-weight-bold Hello #{recipient.name} !
    p We are sorry to inform you that the meal proposition
        a(href='/meal-details/' + data.meal._id) &nbsp #{data.meal.title} &nbsp
        | was canceled.
    p Not enough participants joined the proposition. And if they were any, they were informed as well.

    p.font-italic Sincerly yours,
    p The Lunch box team
