div.message
    img(src="../../assets/bg1.jpg" alt="Image Title")
    p.test.font-weight-bold Hello #{recipient.name} !
    p #{data.joinedBy.name} have joined your lunch proposition
        a(href='/meal-details/' + data.meal._id) &nbsp #{data.meal.title}.

    p.font-italic Sincerly yours,
    p The Lunch box team
