<simple-notifications [options]="notificationOptions"></simple-notifications>
<div *ngIf="meal" class="container mt-3">
    <app-meal-form [editMode]="true" (updated)="onMealUpdated($event)" #mealformedit></app-meal-form>
    <button hidden data-toggle="modal" data-target="#mealformedit" #mealformeditbutton></button>
    <h2 class="font-weight-bold">{{meal.title}}</h2>
    <div class="row mt-3">
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
            <div class="card global-shadow">
                <img style="height: auto; width: 100%;"
                     [src]="imageService.apiEndPoint + '/' + meal._id"
                     alt="meal img">
            </div>
            <div class="mt-2">
                <h4>
                    {{meal.description}}
                </h4>
            </div>
        </div>
        <div class="card col global-shadow">
            <ul class="list-group">
                <li class="list-group-item border-0">
                    <div class="mt-3">
                        <button *ngIf="meal.canJoin(user)" (click)="joinMeal()" class="btn btn-sm btn-primary ">Join
                        </button>
                        <button *ngIf="meal.canLeave(user)" (click)="leaveMeal()"
                                class="btn btn-warning btn-sm ">Leave
                        </button>
                        <app-private-message [author]="user" [recipient]="meal.cook"></app-private-message>
                        <span *ngIf="meal.isCook(user)">
                                <button (click)="editMeal(mealformeditbutton)"
                                        class="btn btn-secondary btn-sm ">edit</button>
                        </span>
                    </div>
                    <hr>
                </li>
                <li class="list-group-item border-0">
                    <span *ngIf="meal.isPending()" class="badge badge-secondary">pending</span>
                    <span *ngIf="meal.asJoined(user)" class="badge badge-info">joined</span>
                    <span *ngIf="meal.isFull()" class="badge badge-info">full</span>
                    <span *ngIf="meal.isConfirmed()" class="badge badge-success">confirmed</span>
                    <span *ngIf="meal.isCanceled()" class="badge badge-danger">canceled</span>
                    <hr>
                </li>
                <li class="list-group-item border-0">
                    <span class="font-weight-bold">
                    {{meal.contribution | currency:'USD':true:'2.2-4'}}
                    </span>
                    <hr>
                </li>
                <li class="list-group-item border-0">
                     <span class="font-weight-bold">
                         Served on
                     </span>
                     {{weekDayName}} the {{meal.deliveryDate | date}}
                    <hr *ngIf="meal.isCook(user)">
                </li>
                <li *ngIf="! meal.isCook(user) && meal.isPending()" class="list-group-item border-0">
                    <span class="font-weight-bold">
                        You still have {{remaningTime}} to {{meal.asJoined(user)? 'leave': 'join'}}
                    </span>
                    <hr>
                </li>
                <li class="list-group-item border-0">
                        <span class="font-weight-bold">
                            Cooked by:
                        </span>
                    {{meal.cook.name | titlecase}}
                    <!--<span *ngIf="! meal.isCook(user)">-->
                                <!--<button class="btn btn-secondary btn-sm" data-toggle="modal"-->
                                        <!--[attr.data-target]="'#messageModal'">-->
                                    <!--write to the cook-->
                                <!--</button>-->
                            <!--</span>-->
                </li>
                <li class="list-group-item border-0">
                     <span class="font-weight-bold">
                         Participant(s):
                     </span>
                    {{meal.participants.length}} (min: {{meal.minParticipants}}, max: {{meal.maxParticipants}})
                    <ul class="list-group">
                        <li *ngFor="let participant of meal.participants" class="list-group-item border-0 py-0">
                            {{participant.name}}
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>