<div *ngIf="meal" class="container mt-3">
    <div class="card">
        <div class="card-header card-title">
            {{meal.title}}
        </div>
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Description: {{meal.description}}</li>
                <li class="list-group-item">Delivery date: {{meal.date | date}}</li>
                <li class="list-group-item">Cook name: {{meal.cook.name}}</li>
                <li class="list-group-item">Participants count: {{meal.participants.length}}/{{meal.minParticipants}}
                </li>
            </ul>
        </div>
    </div>
</div>