<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">temps</h4>
        </div>
        <div class="modal-body">
            <form *ngIf="form" class="mt-3" [formGroup]="form">
                <div class="form-group">
                    <label for="group">Group</label>
                    <select formControlName="group" id="group" class="form-control custom-select"
                            aria-describedby="groupHelper">
                        <option *ngFor="let formGroup of formGroups" [value]="formGroup._id">
                            {{formGroup.name}}
                        </option>
                    </select>
                    <small id="groupHelper" class="form-text text-muted">Which group the lunch will be proposed in</small>
                </div>
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" id="title" formControlName="title"
                           placeholder="Title"
                           aria-describedby="titleHelper" style="background-color: white" required>
                    <small id="titleHelper" class="form-text text-muted">The title of you meal</small>
                    <small *ngIf="formControlIsInvalid('title')" class="form-text text-danger">
                        The title should be 5 characters at least
                    </small>
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea class="form-control" id="description" formControlName="description"
                              placeholder="Description" aria-describedby="descriptionHelper" cols="30"
                              rows="5"></textarea>
                    <small id="descriptionHelper" class="form-text text-muted">Describe you lunch proposition in
                        few words
                    </small>
                    <small *ngIf="formControlIsInvalid('description')"
                           class="form-text text-danger">The description should be 15 characters at least
                    </small>
                </div>
                <div class="form-group">
                    <label for="contribution">The contribution per person</label>
                    <input type="number" class="form-control" id="contribution"
                           formControlName="contribution"
                           step="0.5"
                           aria-describedby="contributionHelper"
                           min="0">
                    <small *ngIf="editMode && meal.participants.length > 0" id="contributionHelper"
                           class="form-text text-danger">
                        editing this field will remove participants
                    </small>
                </div>
                <div *ngIf="! editMode" class="form-group text-center">
                    <div>
                        <button (click)="toggleUseOwnPicture()" class="btn btn-sm btn-info mt-1">
                            {{useOwnPicture ? 'use default picture' : 'use own picture'}}
                        </button>
                    </div>
                    <div *ngIf="useOwnPicture" class="mt-2">
                        <div>
                            <label class="fileContainer">
                                <a href="">
                                    upload picture
                                </a>
                                <input class="inputfile" id="custom-input" type="file"
                                       (change)="fileChangeListener($event)">
                            </label>
                        </div>
                        <img-cropper #cropper [image]="data" [settings]="cropperSettings"></img-cropper>
                        <br>
                        <span class="result rounded" *ngIf="data.image">
                                <img [src]="data.image" [width]="cropperSettings.croppedWidth"
                                     [height]="cropperSettings.croppedHeight">
                                </span>
                        <small *ngIf="! data.image"
                               class="form-text text-danger">You need to select a picture
                        </small>
                    </div>
                </div>
                <div class="row">
                    <div class="col form-group">
                        <label for="limitDate">Date limit for subscription</label>
                        <ng-datepicker [options]="limitDateOptions" id="limitDate"
                                       formControlName="limitDate"
                                       aria-describedby="limiteDateHelper"></ng-datepicker>
                        <small id="limiteDateHelper" class="form-text text-muted">Participants will have until
                            midnight to join in
                        </small>
                        <small *ngIf="editMode && meal.participants.length > 0" id="editLimitDateHelper"
                               class="form-text text-danger">
                            editing this field will remove participants
                        </small>
                        <small *ngIf="form.hasError('limitDateIsEqualOrGreaterThanDeliveryDate')"
                               class="form-text text-danger">Limit date should be lower than delivery
                            date.
                        </small>
                    </div>
                    <div class="col form-group">
                        <label for="deliveryDate">Delivery date</label>
                        <ng-datepicker [options]="deliveryDateOptions" id="deliveryDate"
                                       formControlName="deliveryDate"
                                       aria-describedby="deliveryDateHelper"></ng-datepicker>
                        <small id="deliveryDateHelper" class="form-text text-muted">The date you will deliver
                            this meal
                        </small>
                        <small *ngIf="editMode && meal.participants.length > 0" id="editDeliveryDateHelper"
                               class="form-text text-danger">
                            editing this field will remove participants
                        </small>
                        <small *ngIf="form.hasError('limitDateIsEqualOrGreaterThanDeliveryDate')"
                               class="form-text text-danger">Delivery date should be greater than limit
                            date.
                        </small>
                    </div>
                </div>
                <div class="row">
                    <div class="col form-group">
                        <label for="deliveryHour">Delivery hour</label>
                        <input type="number" step="1" min="0" max="24" class="form-control" id="deliveryHour"
                               formControlName="deliveryHour">
                        <small class="form-text form-muted">The hour the lunch will be delivered (0-24)</small>
                    </div>
                    <div class="col form-group">
                        <label for="type">Type</label>
                        <select formControlName="type" id="type" class="form-control custom-select"
                                aria-describedby="typeHelper">
                            <option *ngFor="let item of mealType | keys" [value]="item.key">
                                {{item.value}}
                            </option>
                        </select>
                        <small id="typeHelper" class="form-text text-muted">The type of the lunch</small>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="minParticipants">Minimum of participants</label>
                            <input type="number" class="form-control" id="minParticipants"
                                   formControlName="minParticipants"
                                   aria-describedby="minParticipantsHelper"
                                   [max]="form.get('maxParticipants').value"
                                   min=1>
                            <small id="minParticipantsHelper" class="form-text text-muted">The minimum
                                participants you need to cook this meal
                            </small>
                            <small *ngIf="form.hasError('minParticipantsGreaterThanMaxParticipants')"
                                   class="form-text text-danger">Minimum participants should be lower or equal
                                than
                                max participants
                            </small>
                            <small *ngIf="form.hasError('minMinParticipantsLessThanOne')"
                                   class="form-text text-danger">Minimum participants cannot be less than 1
                            </small>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="maxParticipants">maximum of participants</label>
                            <input type="number" class="form-control" id="maxParticipants"
                                   formControlName="maxParticipants"
                                   aria-describedby="maxParticipantsHelper"
                                   [min]="form.get('minParticipants').value">
                            <small id="maxParticipantsHelper" class="form-text text-muted">The maximum
                                participants for this meal
                            </small>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button (click)="onSubmit()"
                            [disabled]="!form.valid || (!data.image && useOwnPicture)" class="btn btn-primary">
                        Submit
                    </button>
                    <button type="button" (click)="close()" class="btn btn-secondary" data-dismiss="modal">
                        Close
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>