<div *ngIf="meals.length > 0">
    <div>
        <h2 class="font-weight-bold">Lunchs</h2>
        <div class="global-shadow">
            <a href="javascript:void(0)" (click)="toggleFilter('all')" [class]="getFilterClass('all')">all</a>
            |
            <a href="javascript:void(0)" (click)="toggleFilter('joined')" [class]="getFilterClass('joined')">joined</a>
            <a href="javascript:void(0)" (click)="toggleFilter('pending')" [class]="getFilterClass('pending')">pending</a>
            <a href="javascript:void(0)" (click)="toggleFilter('confirmed')" [class]="getFilterClass('confirmed')">confirmed</a>
            <a href="javascript:void(0)" (click)="toggleFilter('by me')" [class]="getFilterClass('by me')">by me</a>
        </div>
    </div>
    <!--|-->
    <!--<div>-->
        <!--<a href="javascript:void(0)" (click)="toggleFilter('previous-day')" [class]="getFilterClass('previous-day')"><i-->
                <!--class="fa fa-arrow-left" aria-hidden="true"></i>-->
        <!--</a>-->
        <!--{{dayFilter.toDate().toString() | date}}-->
        <!--<a href="javascript:void(0)" (click)="toggleFilter('next-day')" [class]="getFilterClass('next-day')"><i-->
                <!--class="fa fa-arrow-right" aria-hidden="true"></i>-->
        <!--</a>-->
    <!--</div>-->
    <!--<hr>-->
    <div class="row">
        <div *ngFor="let meal of filteredMeals" class="mt-3 col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
            <app-meal-card (updated)="updateMeal($event)" [user]="user" [meal]="meal"></app-meal-card>
        </div>
    </div>
</div>
<div *ngIf="filteredMeals.length === 0">
    <h2 class="font-weight-bold text-center mt-5">Wow such empty</h2>
</div>
