<div>
    <div>
        <h2 class="font-weight-bold">Lunchs</h2>
        <button (click)="suggest()" class="my-2 btn btn-sm btn-primary global-shadow">propose a lunch</button>
        <div class="global-shadow">
            <a href="javascript:void(0)" (click)="toggleFilter('all')" [class]="getFilterClass('all')">all</a>
            |
            <a href="javascript:void(0)" (click)="toggleFilter('joined')" [class]="getFilterClass('joined')">joined</a>
            <a href="javascript:void(0)" (click)="toggleFilter('pending')"
               [class]="getFilterClass('pending')">pending</a>
            <a href="javascript:void(0)" (click)="toggleFilter('confirmed')" [class]="getFilterClass('confirmed')">confirmed</a>
            <a href="javascript:void(0)" (click)="toggleFilter('by me')" [class]="getFilterClass('by me')">by me</a>
            |
            <span *ngFor="let group of groups">
                <a href="javascript:void(0)" (click)="toggleFilter(group.name)"
                   [class]="getFilterClass(group.name)">{{group.name}}</a>
            </span>
        </div>
    </div>
    <div class="row">
        <div *ngFor="let meal of filteredMeals" class="mt-3 col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
            <app-meal-card (updated)="updateMeal($event)" [user]="user" [meal]="meal"></app-meal-card>
        </div>
    </div>
    <div *ngIf="filteredMeals.length === 0">
        <h2 class="font-weight-bold text-center mt-5">Wow such empty</h2>
    </div>
</div>
