<app-meal-form #mealform></app-meal-form>
<div class="container mt-3">
    <h2 class="font-weight-bold">Your lunch-box</h2>
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 mt-1">
            <button (click)="getPreviousWeek()" class="btn btn-sml btn-info global-shadow"><i class="fa fa-arrow-left"
                                                                                              aria-hidden="true"></i>
            </button>
            <button (click)="getThisWeek()" class="btn btn-sml btn-info global-shadow">This week</button>
            <button (click)="getNextWeek()" class="btn btn-sml btn-info global-shadow"><i class="fa fa-arrow-right"
                                                                                          aria-hidden="true"></i></button>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 mt-1">
            <button class="btn global-shadow" (click)="setGlobalFilter('joined')" placement="top" ngbTooltip="Lunch you joined for the week">🍴</button>
            <button class="btn global-shadow" (click)="setGlobalFilter('proposed')" placement="top" ngbTooltip="Lunch you cook for the week">👨🏻‍🍳</button>
            <button class="btn global-shadow" (click)="setGlobalFilter('suggested')" placement="top" ngbTooltip="Lunch suggested for the week">🔎</button>
        </div>
    </div>
    <div class="row mt-3">
        <div *ngFor="let weekday of weekdays; let i = index" class="mt-3 col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
            <app-calendar-day
                    [weekday]="weekday"
                    [weekdayName]="weekdayNames[i]"
                    [joinedLunchs]="getJoinedLunchForDay(weekday)"
                    [proposedLunchs]="getProposedLunchForDay(weekday)"
                    [suggestedLunchs]="getSuggestedLunchForDay(weekday)"
                    [mealForm]="mealFormComponent"
                    [globalFilterSubject]="globalFilterSubject"
                    [user]="user"></app-calendar-day>
        </div>
    </div>
</div>
