<div class="container mt-3">
    <agm-map
            [latitude]="lat"
            [longitude]="lng"
            [zoom]="zoom"
            [disableDefaultUI]="false"
            [zoomControl]="false">

        <agm-marker
                *ngFor="let m of markers; let i = index"
                [latitude]="m.lat"
                [longitude]="m.lng"
                [label]=""
                [markerDraggable]="false">

            <agm-info-window>
                <strong><a href="javascript:void(0)" (click)="onGroupClicked(m.group)">{{m.group.name}}</a></strong>
            </agm-info-window>
        </agm-marker>
    </agm-map>
</div>
