<div class="card global-shadow">
    <div class="card-header text-center">
        <p class="font-weight-bold">
            {{weekdayName}}
        </p>
        {{weekday.toDate() | date}}
        <br>
        <div class="mt-1">
            <ul class="nav nav-tabs">
                <li class="nav-item" placement="top" ngbTooltip="Lunch you joined">
                    <a [class]="activeTab == 'joined' ? 'nav-link active clickable': 'nav-link clickable'"
                       (click)="setTab('joined')">🍴<br><span
                            class="badge badge-secondary">{{joinedLunchs.length}}</span>
                    </a>
                </li>
                <li class="nav-item"  placement="top" ngbTooltip="Lunch you cook">
                    <a [class]="activeTab == 'proposed' ? 'nav-link active clickable': 'nav-link clickable'"
                       (click)="setTab('proposed')">👨🏻‍🍳<br><span class="badge badge-secondary">{{proposedLunchs.length}}</span>
                    </a>
                </li>
                <li class="nav-item" placement="top" ngbTooltip="Lunch suggestions">
                    <a [class]="activeTab == 'suggested' ? 'nav-link active clickable': 'nav-link clickable'"
                       (click)="setTab('suggested')">🔎<br><span class="badge badge-secondary">{{suggestedLunchs.length}}</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="m-2 p-1 global-inner-shadow">
        <div *ngIf="activeTab === 'joined'">
            <div class="" style="overflow-y: scroll; overflow-x: hidden; height: 100px;">
                <ul class="list-group">
                    <li *ngFor="let lunch of joinedLunchs">
                        <ng-template #tipContentJoined><img style="height: 70px; width: 70px;" [src]="'api/images/meal/' + lunch._id" alt="loading"></ng-template>
                        <a class="btn btn-link" style="cursor: pointer" href="javascript:void(0)" (click)="goToLunchDetails(lunch._id)" [ngbTooltip]="tipContentJoined">
                            {{lunch.title}}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div *ngIf="activeTab === 'proposed'">
            <div class="" style="overflow-y: scroll; overflow-x: hidden;  height: 100px;">
                <ul class="list-group">
                    <li *ngFor="let lunch of proposedLunchs">
                        <ng-template #tipContentProposed><img style="height: 70px; width: 70px;" [src]="'api/images/meal/' + lunch._id" alt="loading"></ng-template>
                        <a class="btn btn-link" style="cursor: pointer" href="javascript:void(0)" (click)="goToLunchDetails(lunch._id)" [ngbTooltip]="tipContentProposed">
                            {{lunch.title}}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div *ngIf="activeTab === 'suggested'">
            <div class="" style="overflow-y: scroll; overflow-x: hidden;  height: 100px;">
                <ul class="list-group">
                    <li *ngFor="let lunch of suggestedLunchs">
                        <ng-template #tipContentSuggested><img style="height: 70px; width: 70px;" [src]="'api/images/meal/' + lunch._id" alt="loading"></ng-template>
                        <a class="btn btn-link" style="cursor: pointer" href="javascript:void(0)" (click)="goToLunchDetails(lunch._id)" [ngbTooltip]="tipContentSuggested">
                            {{lunch.title}}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <button hidden #mealFormClicker data-toggle="modal" data-target="#mealform"></button>
        <button placement="top" ngbTooltip="suggest a lunch for this day" (click)="proposeLunch(mealFormClicker)" class="my-2 btn btn-sm btn-primary"><i class="fa fa-plus" aria-hidden="true"></i></button>
    </div>
</div>