<app-private-message></app-private-message>
<simple-notifications [options]="notificationOptions"></simple-notifications>
<div *ngIf="messages" class="container mt-3">
    <h2 class="font-weight-bold">Inbox</h2>
    <div *ngIf="messages.length > 0">
        <ul class="list-group">
            <li *ngFor="let message of messages" [class]="getMessageClass(message)">
                <div>
                    <div>
                        From: <span
                            class="font-weight-bold">{{message.author? message.author.name: 'Lunch box group'}}</span>
                    </div>
                    <div class="row">
                        <div class="col">
                            <span (click)="markAsSeen(message)" data-toggle="collapse" [attr.href]="'#'+message._id"
                                  aria-expanded="false"
                                  aria-controls="collapseExample">
                                Title: {{message.title}} <br>
                                Sent on {{message.creationDate | date}}
                            </span>
                        </div>
                        <div class="col text-right">
                            <span class="float-right">
                                <button class="btn btn-sm btn-warning" (click)="remove(message)">delete</button>
                            </span>
                        </div>
                    </div>
                    <div class="collapse mt-1" [id]="message._id">
                        <div class="card global-inner-shadow">
                            <div class="card-body">
                                <div [innerHtml]="message.template">{{message.template}}</div>
                            </div>
                            <div *ngIf="message.author" class="card-footer">
                                <div class="text-right">
                                    <button (click)="reply(message, initModal)" class="btn btn-primary btn-sm">reply
                                    </button>
                                    <button data-toggle="modal" data-target="#messageModal" hidden #initModal></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div *ngIf="messages.length === 0" class="mt-5">
        <h4 class="font-weight-bold">All catch up!</h4>
    </div>
</div>