<app-private-message></app-private-message>
<div *ngIf="messages" class="container mt-3">
    <h2 class="font-weight-bold">Inbox</h2>
    <div *ngIf="messages.length > 0">
        <ul class="list-group">
            <li *ngFor="let message of messages" [class]="getMessageClass(message)">
                <div>
                    From: <span class="font-weight-bold">{{message.author? message.author.name: 'Lunch box group'}}</span>
                </div>
                <div>
                    <span (click)="markAsSeen(message)" data-toggle="collapse" [attr.href]="'#'+message._id" aria-expanded="false"
                          aria-controls="collapseExample">
                        Title: {{message.title}}
                    </span>
                    <span class="float-right">
                        <a (click)="remove(message)">delete</a>
                    </span>
                </div>
                <div class="collapse mt-1" [id]="message._id">
                    <div class="card">
                        <div class="card-body">
                            <div *ngFor="let body of message.body">
                                <p>{{body}}</p>
                            </div>
                        </div>
                        <div *ngIf="message.author" class="card-footer">
                            <div class="text-right">
                                <button (click)="reply(message, initModal)" class="btn btn-primary btn-sm">reply
                                </button>
                                <button data-toggle="modal" data-target="#messageModal" hidden #initModal></button>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div *ngIf="messages.length === 0" class="mt-5">
        <h4 class="font-weight-bold">All catch up!</h4>
    </div>
</div>