/* You can add global styles to this file, and also import other style files */

.ngx-datepicker-container {
    z-index: inherit !important;
}

.ngx-datepicker-calendar-container {
    z-index: 1;
}

.message {
    position: relative;
    overflow: hidden;
}

.message img {
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity: 0.1;
}