/* You can add global styles to this file, and also import other style files */
body {
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 17px;
    line-height: 1.43;
    color: #484848;
    /*background-color: #fff;*/
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body::after {
    content: "";
    background: url('/assets/bg1.jpg');
    opacity: 0.1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.ngx-datepicker-container { z-index: inherit !important; }
.ngx-datepicker-calendar-container { z-index: 1; }