<div *ngIf="meal && user" class="card border-0">
    <div>
        <span *ngIf="asJoined()" class="badge badge-info">joined</span>
        <span *ngIf="isFull()" class="badge badge-danger">full</span>
        <span *ngIf="isConfirmed()" class="badge badge-success">confirmed</span>
    </div>
    <div class="meal-img">
        <img class="card-img-top img-fluid"
             [src]="imageService.apiEndPoint + '/' + meal._id"
             alt="Card image cap">
        <div class="overlay">
            <div class="text-center mt-4">
                <span>
                    <button *ngIf="canJoin()" (click)="joinMeal()" class="btn btn-outline-light">Join</button>
                    <button *ngIf="canLeave()" (click)="leaveMeal()" class="btn btn-outline-light">Leave</button>
                    <button (click)="goToMealDetails()" class="btn btn-outline-light">Details</button>
                </span>
            </div>
        </div>
    </div>
    <ul class="list-group">
        <li class="list-group-item border-0 p-0">
            <p class="card-text text-truncate font-weight-bold">{{meal.title}}</p>
        </li>
        <li class="list-group-item border-0 p-0">
            <div class="row">
                <div class="col">
                    <p class="card-text">{{meal.date | date}}</p>
                </div>
            </div>
        </li>
    </ul>
</div>