<div *ngIf="meal && user" class="card border-0 card-shadow">
    <simple-notifications [options]="notificationOptions"></simple-notifications>
    <div class="meal-img">
        <img class="card-img-top img-fluid"
             [src]="imageService.apiEndPoint + '/' + meal._id"
             alt="Card image cap">
        <div class="overlay">
            <div class="text-center mt-4">
                <span>
                    <button *ngIf="meal.canJoin(user)" (click)="joinMeal()" class="btn btn-outline-light">Join</button>
                    <button *ngIf="meal.canLeave(user)" (click)="leaveMeal()"
                            class="btn btn-outline-light">Leave</button>
                    <button (click)="goToMealDetails()" class="btn btn-outline-light">Details</button>
                </span>
            </div>
        </div>
    </div>
    <div class="card-body">
        <ul class="list-group">
            <li class="list-group-item border-0 p-0">
                <p class="card-text text-truncate font-weight-bold">{{meal.title}}</p>
            </li>
            <li class="list-group-item border-0 p-0">
                <p class="card-text">{{meal.deliveryDate | date}}</p>
            </li>
            <li class="list-group-item border-0 p-0">
                <span *ngIf="meal.isPending()" class="badge badge-secondary">pending</span>
                <span *ngIf="meal.asJoined(user)" class="badge badge-info">joined</span>
                <span *ngIf="meal.isFull()" class="badge badge-info">full</span>
                <span *ngIf="meal.isConfirmed()" class="badge badge-success">confirmed</span>
                <span *ngIf="meal.isCanceled()" class="badge badge-danger">confirmed</span>
            </li>
        </ul>
    </div>
</div>